<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
    <!-- parameters -->
    <xacro:arg name="use_fake_hardware" default="false" />
    <xacro:arg name="com_port" default="/tmp/ttyUR" />
    <xacro:arg name="gripper_speed" default="0.150" /> <!-- unknown -->
    <xacro:arg name="gripper_max_speed" default="0.150" /> <!-- unknown -->
    <xacro:arg name="gripper_force" default="235.0" /> <!-- Newtons -->
    <xacro:arg name="gripper_max_force" default="235.0" /> <!-- Newtons -->
    <xacro:arg name="gripper_closed_position" default="0.623" /> <!-- unknown -->
    <xacro:arg name="name" default="ur10e" /> <!-- unknown -->
    <xacro:arg name="ur_type" default="ur10e" /> <!-- unknown -->
    <xacro:arg name="gripper_type" default="robotiq_2f_140" /> <!-- unknown -->
    <xacro:arg name="sim_isaac" default="false" /> <!-- unknown -->
    <xacro:arg name="grasp_parent_frame" default="robotiq_base_link" /> <!-- unknown -->
    <xacro:arg name="generate_ros2_control_tag" default="true" />

    <!-- Import macros -->    
    <xacro:include filename="$(find robotiq_description)/urdf/$(arg gripper_type)_macro.urdf.xacro" />

    <xacro:if value="$(arg sim_isaac)">
        <xacro:include filename="$(find isaac_manipulator_pick_and_place)/urdf/ur_sim.urdf.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg sim_isaac)">
        <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />
    </xacro:unless>

    <xacro:robotiq_gripper name="robotiq_gripper_node"
        prefix=""
        parent="tool0"
        use_fake_hardware="$(arg use_fake_hardware)"
        com_port="$(arg com_port)"
        sim_isaac="$(arg sim_isaac)"
        include_ros2_control="$(arg generate_ros2_control_tag)"
        isaac_joint_commands="isaac_gripper_state">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>

    <link name="gripper_frame">
        <inertial>
            <!-- Dummy inertial parameters to avoid link lumping-->
            <mass value="0.01"/>
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </inertial>
    </link>
    <joint name="gripper_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="$(arg grasp_parent_frame)"/>
        <child link="gripper_frame"/>
    </joint>

    <link name="grasp_frame">
        <inertial>
            <!-- Dummy inertial parameters to avoid link lumping-->
            <mass value="0.01"/>
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </inertial>
    </link>
    <joint name="grasp_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.20"/>
        <parent link="gripper_frame"/>
        <child link="grasp_frame"/>
    </joint>

    <xacro:if value="$(arg sim_isaac)">
        <xacro:include filename="ur10e_robotiq_base_sim.ros2_control.xacro" />
        <xacro:ur10e_ros2_control name="ur_ros2_control_sim"/>
    </xacro:if>
</robot>
