<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>
  <xacro:include filename="$(find isaac_manipulator_pick_and_place)/srdf/robotiq_2f_85.srdf.xacro"/>

  <xacro:ur_srdf name="$(arg name)" prefix="$(arg prefix)"/>
  <xacro:robotiq_srdf name="$(arg name)" prefix="$(arg prefix)"/>  
  <disable_collisions link1="robotiq_85_base_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_base_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_base_link" link2="wrist_3_link" reason="Adjacent"/>
  <disable_collisions link1="robotiq_85_left_finger_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_finger_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_finger_link" link2="wrist_3_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_finger_tip_link" link2="wrist_3_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="wrist_3_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_knuckle_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_knuckle_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_left_knuckle_link" link2="wrist_3_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_finger_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_finger_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_finger_link" link2="wrist_3_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_finger_tip_link" link2="wrist_3_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="wrist_3_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_knuckle_link" link2="wrist_1_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_knuckle_link" link2="wrist_2_link" reason="Never"/>
  <disable_collisions link1="robotiq_85_right_knuckle_link" link2="wrist_3_link" reason="Never"/>
  <group name="ur_robotiq">
    <chain base_link="base_link" tip_link="robotiq_85_base_link"/>
  </group>
</robot>
